@import '../../styles/variables.scss';

.letters-container {
    max-width: 60%;
}

.letters {
    font-weight: 700;
    font-size: 2.2rem;

    color: rgba(255, 255, 255, .6);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; 
}

.letters-box {
    position: relative;
}

.letters-typed {
    color: $green-very-light;
    position: absolute;
    top: 0;

    &.hidden-animation {
        &::after {
            display: none;
        }
    }

    &::after {
        content: '|';
        animation: textSelect .7s infinite;
    }
}

@keyframes textSelect {
    to {
        opacity: 0;
    }
    from {
        opacity: 1;
    }
}

.letter-input {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip-path: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}