@import '../../styles/variables.scss';

.letters-container {
    max-width: 60%;
}

.letters {
    font-weight: 700;
    font-size: 2.2rem;

    color: rgba(255, 255, 255, .6);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; 
}

.letters-typed {
    color: $green-very-light;
}